@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/fonts/NanumSquareNeo-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'NanumSquareNeo', sans-serif;
}



body {
  background: var(--background);
  color: var(--foreground);
}